
.flex-toolbar {
    flex: auto;
    justify-content: space-between; 
}
#spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 250px;
}

