<mat-toolbar class="flex-toolbar">
  <button [disabled] = "dataSet.length < 3 || dataSetIndex <= 1" (click) = "this.pageLoading = true; getPrevImg();">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <span>{{imgTitle}}</span>
  <button type="button">
    <mat-icon svgIcon="dots-vertical" [matMenuTriggerFor]="menu" aria-label="Meny"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click) = "pageLoading = true; getData();" >
      <mat-icon>refresh</mat-icon>
      <span>Ny bild</span>
    </button>
    <button  mat-menu-item [disabled]=slideShowActive (click) = "slideShowActive=true; startSlideshow();">
      <mat-icon>slideshow</mat-icon>
      <span>Start</span>
    </button>
    <button mat-menu-item *ngIf=slideShowActive (click) = "slideShowActive=false; pauseSlideshow();">
      <mat-icon>pause_presentation</mat-icon>
      <span>Pause</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-progress-bar *ngIf=slideShowActive mode="determinate" value={{timeLeft*20}}></mat-progress-bar>
<mat-card *ngIf="dataSet.length > 1 && !pageLoading; else loadingBlock" >
  <img mat-card-image src={{img}}>
</mat-card>
<ng-template #loadingBlock >
  <div id="spinner" class="content" *ngIf="pageLoading">
    <mat-progress-spinner mode="indeterminate" color="accent" ></mat-progress-spinner>
    </div>
</ng-template>